
body {
  height: 100%;
  margin: 0;
  background-image: url(../assets/mainpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
  
}

.headerDiv {
  display: flex;
  justify-content: center;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

/* .background > img {
  height: 80vh;
  width: 100vw;
} */